<div class="detail-navbar">
    <div class="detail-title">
        <ui5-title level="H3" class="navbar-title">Fraud Detection  (Payment Anomaly)</ui5-title>
    </div>
    <div class="username">
        <div class="usericon" style="margin-right:1rem ;">
            <ui5-icon name="customer" class="samples-margin"  style="width:2rem;height:1.5rem;font-size:1.5rem;color:white;background-color:#031A6B"></ui5-icon>
        </div>
        <div class="username1">
           {{user}}
           
        </div>
    </div>
</div>