<ui5-dialog #resultDialog1 header-text="Fraud Detection (Payment Anomaly)">
    <section class="login-form">
        <div class="dialogfromdatepicker" style="width:450px">
            <ui5-label style=" font-weight: bold; color:  rgb(80, 20, 136);">Select From Date </ui5-label><br><br>
            <ui5-datepicker id="myDatepicker1" placeholder='From Date ' (change)="myDatepicker1($event)">
            </ui5-datepicker>
        </div> <br> <br>
        <div class="dailogtodatepicker" style="width:450px">
            <ui5-label style=" font-weight: bold; color: rgb(80, 20, 136);">Select To Date </ui5-label><br><br>
            <ui5-datepicker id="myDatepicker2" placeholder='To Date' (change)="myDatepicker2($event)"></ui5-datepicker>
        </div>
    </section>
    <div slot="footer" style="text-align:right; margin-top: 0.5rem;margin-bottom: 0.5rem; padding-right: 2em;"
        class="dialog-footer">
        <ui5-button id="submitbutton" (click)=fundatepicker() design="Emphasized">Submit
        </ui5-button>
    </div>
</ui5-dialog>



<div class="datepicker">
    <ui5-tabcontainer class="full-width" show-overflow>
        <ui5-tab icon="calendar" text='Select Date'>
            <div class=" date-innerblock">
                <div class="fromdatepicker">
                    <ui5-label class="labels" >Select From Date </ui5-label><br>
                    <ui5-datepicker id="myDatepicker1" placeholder='From Date ' (change)="myDatepicker1($event)">
                    </ui5-datepicker>
                </div>
                <div class="todatepicker">
                    <ui5-label class="labels" >Select To Date </ui5-label><br>
                    <ui5-datepicker id="myDatepicker2" placeholder='To Date' (change)="myDatepicker2($event)">
                    </ui5-datepicker>
                </div>
                <div class="submitdatepicker">
                    <ui5-button id="submitbutton" (click)=fundatepicker() design="Emphasized">Submit
                    </ui5-button>
                </div> <br><br>
            </div>
        </ui5-tab>
        <ui5-tab-separator></ui5-tab-separator>
        <ui5-tab icon="activities" text="Results">
            <div class=" date-innerblock">
                <div class="contamination">
                    <div class="continput">
                        <ui5-label class="labels" > Contamination Value </ui5-label><br>
                        <ui5-input id="contvalue" placeholder="Enter Contamination Value"
                            (change)="mycontamination($event)"></ui5-input>
                    </div>
                    <div class="contbutton">
                        <ui5-button id="submitbutton" (click)=funcontamination() design="Emphasized">Submit
                        </ui5-button>
                    </div>
                </div>
                <div class="saveresult">
                    <div class="continput">
                        <ui5-label class="labels" >Save Results </ui5-label><br>
                        <ui5-input id="savevalue" placeholder="Enter runid" (change)="funrunid($event)"></ui5-input>
                    </div>
                    <div style="margin-left: 2%;" class="contbutton">
                        <ui5-button id="submitsave" (click)=funsaverunid() design="Emphasized">Save To Database
                        </ui5-button>
                    </div>
                </div><br><br>
            </div>
        </ui5-tab>
    </ui5-tabcontainer>
</div>




<div class="busyindicator">
    <ui5-busyindicator style="margin-top: 20rem; " initial-focus id="busy-container" size="Large" [active]=busy>
    </ui5-busyindicator>
</div>


<div id="myDiv1" hidden>
    <div class="table-view">
        <!-- <ui5-title level="H2" style="border-bottom: 1px solid lightgray; ;">{{headvar}}
            ({{alertArray ? alertArray.length :'0'}},{{checkedarray.length>0?checkedarray.length:8}})</ui5-title> -->
            <ui5-title level="H2" style="border-bottom: 1px solid lightgray; ;">{{headvar}}</ui5-title>
        <div id="myDIV">
            <div *ngIf="alertArray.length !=0 ;  else notShow">
                <ui5-table class="alert-table" id="table" stickycolumn no-data-text="No Data" show-no-data>
                    <ui5-table-column *ngFor="let header of object1.keys(alertArray[0]); let i = index" class="column"
                        slot="columns">
                        <ui5-checkbox text="{{header}}" (change)="mycheckevent($event)"></ui5-checkbox>
                    </ui5-table-column>
                    <ui5-table-row *ngFor="let row of alertArray; let i = index" class="alertTableRow">
                        <ui5-table-cell *ngFor="let objKey of object1.keys(row); let j = index">
                            <div style="font-size: small; margin-left: 2rem;">{{ row[objKey] }}</div>
                        </ui5-table-cell>
                    </ui5-table-row>
                </ui5-table>
            </div>
            <ng-template #notShow>
                No Data Found
            </ng-template>
        </div>
    </div>
</div>




<section class="dialog-main-section">
    <ui5-dialog #resultDialog header-text="Save to Database">
        <div style="width:30rem">
            <ui5-title style="text-align:center;" level="H3">{{savestatus}}</ui5-title>
        </div>
        <div slot="footer" style="text-align:right; padding-right: 2em;" class="dialog-footer">
            <div style="flex: 1;"></div>
            <ui5-button style=" width: 6rem;" (click)=closedialog() design="Emphasized">close</ui5-button>
        </div>
    </ui5-dialog>
</section>